#components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;
}

.layout {
    width: 100%;
    height: 100%;

    .logo {
        height: 64px;
        box-sizing: border-box;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        .title {
            width: 70%;
            height: 40px;
            font-size: 20px;
            font-weight: 900;
            letter-spacing: 5px;
            line-height: 40px;
            text-align: center;
            background-color: #4D5C6A;
        }
    }

    .layout-header {
        display: flex;
        justify-content: space-between;
        .trigger {
            display: flex;
            align-items: center;
            padding-left: 16px;
        }
    }
}